{% extends 'base.html'  %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">SkyBrink Interactive Room Booking</h1>
  <p class="lead">SkyBrink Interactive Room Booking is a service to book rooms in real time. The project is under development.
  This project provides the service of not only room booking based on filtering it's own features but also, it has the facility
    to book squash court and green space</p>
</div>
<div class="container">
      <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Room Booking</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Room Capacity</li>
          <li>Multimedia Requirements</li>
          <li>Kids Friendly</li>
          <li>Need a projector?</li>
        </ul>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Squash Court Booking</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Book a Court</li>
          <li>Your bookings</li>
          <li>Manage Booking</li>
          <li>Your Previous Bookings</li>
        </ul>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Green Space Booking</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Capacity</li>
          <li>Guideline</li>
          <li>Manage Booking</li>
          <li>BBQ Machines/ Sound System?</li>
        </ul>
      </div>
    </div>
  </div>

</div>
{% endblock %}